

.searchIcon{
    color:white;
    transition: all .2s ease-in-out; 
    position:relative;
    top: 40%;
    left: 40%;
}
div:hover .searchIcon {
    transform: scale(1.5);
}


.search{
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    border-radius:1000px;
    width:10em;
    height:10em;
    background: rgba(255,255,255,0.6);
    -webkit-transition: all .4s linear;
    transition:  all .4s linear;
}



.search .input{
    position:absolute;
    top:45%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width:350px;
    height:40px;
    
    display:none;
}


.search.open{
    height:4000px;
    width:4000px;
}