.results{
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    margin-top: 13%;

    
    
    
}
@media screen and (min-width: 800px) {
    .results {
      margin-top: 13%; 
    }
  }
  
  @media screen and (max-width: 799px) {
    .results {
      margin-top: 20%; 
    }
  }
  @media screen and (max-width: 436px) {
    .results {
      margin-top: 25%;
    }
  }
  @media screen and (max-width: 365px) {
    .results {
      margin-top: 30%; 
    }
  }
.resultTable{
    color:white;
    background-color: transparent;
    display: table;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    
    
}
th,td{
    padding: 10px ;
  
   
}
@media  screen and (max-width: 642px) {
    .btn-cell {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }
}